const { ID, Resource } = require('pangaso')

class {{ resourceName }} extends Resource {
    /**
     *
     * Define the fields for this resource
     *
     * @return {array}
     *
     */
    fields() {
        return [
            ID.make('ID')
        ]
    }
}

module.exports = {{ resourceName }}
