@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import 'flat-pickr';

.trans-30 {
    transition: all 0.3s;
}

.paginator {
    display: flex;
    font-weight: bolder;

    &__link, &__next-link, &__prev-link {
        width: 4rem;
        height: 3rem;
        display: flex;
        color: #6574cd;
        align-items: center;
        border-top-width: 0;
        transition: all 0.3s;
        border-bottom-width: 0;
        border-left-width: 1px;
        border-color: #dae1e7;
        border-right-width: 1px;
        justify-content: center;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #b2b7ff;
        }
    }

    &__active-link {
        border-width: 3px !important;
        border-color: #6574cd;
        transition: all 0.3s;
    }

    &--disabled {
        color: #b8c2cc;
        cursor: not-allowed !important;

        &:hover {
            color: #b8c2cc !important;
        }
    }
}

/* This is to remove the arrow of select element in IE */
select::-ms-expand {
    display: none; 
}
select {
    -webkit-appearance: none;
    appearance: none;
}

@-moz-document url-prefix() {
	select {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    select { 
        width: 110%; 
        background-position: right 30px center !important; 
        border: none !important;
    }
}
